<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reisetagebuch Summherum</title>
</head>
<body>

<h1>Willkommen bei Projekt Reisetagebuch 'Summherum'! 📓🐝 </h1>
<hr>
<p>Bist du viel otterwegs? 🦦 Dann halte hier deine Erinnerungen fest! 🌞</p>
<hr>

<div th:replace="~{menu :: navbar}"></div>

<hr>
<h4>...bee happy!</h4>
<div style="text-align: left; margin-bottom: 20px;">
    <img src="https://images.thalia.media/00/-/4236f8eac73d4101ad25056af22bdb4d/legami-pluesch-super-soft-biene-legami.jpeg"
         alt="Mein Lieblingsbienchen"
         style="width: 200px; height: auto;"> </div>
<hr>
</body>
</html>